<a href="https://colab.research.google.com/github/jlopez12/Analisis_prediccion_de_ventas-Part_1/blob/development/Analisis_prediccion_ventas_Part-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conectar a Drive y leer documento

In [1]:
# Conectar Colab con drive.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importa libreria.
import pandas as pd

In [3]:
# Establecer conexion al documento
path = "/content/drive/MyDrive/Colab Notebooks/DB/retail_sales_dataset.csv"
df = pd.read_csv(path)

#Primera vista al Data Frame

In [4]:
# Se revisan las columnas y tipos de datos.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

#Limpieza de columnas

In [5]:
# Pasa todas las columnas a minusculas.
df.columns = df.columns.str.lower()

In [6]:
# Diccionario de caracteres que quiero reemplazar en los nombres de columnas.
# Aunque no se visualizan tildes, parentesis o ° se mantiene en el diccionario.
reemplazar = {
    "á": "a", "é": "e", "í": "i", "ó": "o", "ú": "u",
    " ":"_","(":"",")":"","°":"",".":""
    }

In [7]:
# Se recorre el diccionario de caracteres a reemplazar y se aplica en las columnas
for actual, nuevo in reemplazar.items():
  df.columns = df.columns.str.replace(actual,nuevo)

In [8]:
# Se verifican los cambios.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    1000 non-null   int64
 1   date              1000 non-null   object
 2   customer_id       1000 non-null   object
 3   gender            1000 non-null   object
 4   age               1000 non-null   int64
 5   product_category  1000 non-null   object
 6   quantity          1000 non-null   int64
 7   price_per_unit    1000 non-null   int64
 8   total_amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

#Revisión de datos
En la informacion general observado no se identifican valores null, por lo que se procede a utilizar la data, sin tener que hacer ajustes a información faltante.

In [12]:
# Muestra las filas con algun valor null
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [transaction_id, date, customer_id, gender, age, product_category, quantity, price_per_unit, total_amount]
Index: []

#Exploración de datos

In [15]:
# Calcula el total de ventas por categoría de producto.
total_venta_categoria = df.groupby("product_category")["total_amount"].sum()
print(f"Total de Ventas por Categoria:\n\n{total_venta_categoria}")

Total de Ventas por Categoria:

product_category
Beauty         143515
Clothing       155580
Electronics    156905
Name: total_amount, dtype: int64

In [18]:
# Calcula el promedio de ventas diarias por categoría de producto.
promedio_ventas_diarias_c = df.groupby(["product_category","date"])["total_amount"].mean()
print(f"Promedio de Ventas diarias por Categoria:\n\n{promedio_ventas_diarias_c}")

Promedio de Ventas diarias por Categoria:

product_category  date
Beauty            2023-01-01    1500.0
                  2023-01-02      25.0
                  2023-01-03     600.0
                  2023-01-04     545.0
                  2023-01-05      50.0
                                 ...
Electronics       2023-12-27     600.0
                  2023-12-28      37.5
                  2023-12-29     100.0
                  2023-12-31      50.0
                  2024-01-01      30.0
Name: total_amount, Length: 655, dtype: float64

In [29]:
# Identifica las categorías de productos con mayores y menores ventas.
# agrupo las ventas por categoria de producto y sumo las veces en que se han vendido.
categoria_por_cantidad = df.groupby("product_category")["quantity"].sum()

# Imprime los datos isuando idxMax() para obtener el indice del valor mas alto y max() para obtener el valor mas alto
print(f"Categoria con mayor venta:\n\n{categoria_por_cantidad.idxmax()}, vendido {max(categoria_por_cantidad)} veces \n\n")
# Imprime los datos isuando idxMin() para obtener el indice del valor mas bajo y min() para obtener el valor mas bajo
print(f"Categoria con menor venta:\n\n{categoria_por_cantidad.idxmin()}, vendido {min(categoria_por_cantidad)} veces")

Categoria con mayor venta:

Clothing, vendido 894 veces


Categoria con menor venta:

Beauty, vendido 771 veces

#Manipulación de datos

In [30]:
# Ver los tipos de categorias.
df["product_category"].value_counts()

product_category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [31]:
# Filtra los datos para mostrar solo las ventas de una categoría de producto específica.
# Filtro para obtener solo categoria Electronics
fltr = df["product_category"] == "Electronics"
datos_filtrados = df[fltr]
print(f"Vemtas de Electronics:\n\n {datos_filtrados}")

Vemtas de Electronics:

      transaction_id        date customer_id  gender  age product_category  \
2                 3  2023-01-13     CUST003    Male   50      Electronics
7                 8  2023-02-22     CUST008    Male   30      Electronics
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
..              ...         ...         ...     ...  ...              ...
988             989  2023-12-28     CUST989  Female   44      Electronics
991             992  2023-08-21     CUST992  Female   57      Electronics
992             993  2023-02-06     CUST993  Female   48      Electronics
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     quantity  price_per_unit  total_amount
2           1              30            30
7           4              25           100
8           2             300           600
12          3             500          1500
14          4             500          2000
..        ...             ...           ...
988         1              25            25
991         2              30            60
992         3              50           150
998         3              50           150
999         4              30           120

[342 rows x 9 columns]

In [67]:
# Realiza operaciones de suma, resta, multiplicación y división en los datos para obtener estadísticas adicionales.
estadisticas_adicionales = df.groupby(["product_category"]).agg({"total_amount": ["mean","sum","min","max","std"]})
print(f" Promedio, suma, minimo, maximo y desviacion de Total de ventas por categoria:\n\n{estadisticas_adicionales}")

# Verificacion de quienes compran mas categoria Clothing.
fltr_m = (df["gender"] == "Male") & (df["product_category"] =="Clothing")
fltr_f = (df["gender"] == "Female") & (df["product_category"] =="Clothing")

# Cuenta cuantas transacciones hay para los filtros aplicados.
compras_m = df[fltr_m].groupby("product_category")["transaction_id"].count()
compras_f = df[fltr_f].groupby("product_category")["transaction_id"].count()

# Valida cual es el dato mayor para sacar la diferencia.
if compras_m.values[0] > compras_f.values[0]:
  diferencia = compras_m.values[0] - compras_f.values[0]
  print(f"Los Hombres hacen mas compras de categoria Clothing, tienen {diferencia} compras mas que las Mujeres")
else:
  diferencia = compras_f.values[0] - compras_m.values[0]
  print(f"Las Mujeres hacen mas compras de categoria Clothing, tienen {diferencia} compras mas que los Hombres")

 Promedio, suma, minimo, maximo y desviacion de Total de ventas por categoria:

                 total_amount
                         mean     sum min   max         std
product_category
Beauty             467.475570  143515  25  2000  563.612788
Clothing           443.247863  155580  25  2000  550.695917
Electronics        458.786550  156905  25  2000  567.540150
Los Hombres hacen mas compras de categoria Clothing, tienen 3 compras mas que las Mujeres